/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/*Asterisk wildcard selector to override defauly styles added by the browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic body styles */
    color: lightblue;
    font-family: 'Roboto Flex', sans-serif;
}
/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px aliceblue; 
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Robot Flex', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 139, 0.647);
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid lightblue;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    left: 0;
    top: 100%;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
}

/* Main Content */
main {
    background-color: white;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 100px;
}

/* Footer */



