/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/*Asterisk wildcard selector to override defauly styles added by the browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic body styles */
    color: lightblue;
    font-family: 'Roboto Flex', sans-serif;
}
/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px aliceblue; 
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Robot Flex', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkblue;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */



